<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBuuwmFCmnhnU_rD5VSsUQhDtXZ28NSZ50</string>
	<key>GCM_SENDER_ID</key>
	<string>6229665685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodchainFlutter</string>
	<key>PROJECT_ID</key>
	<string>food-chain-saas</string>
	<key>STORAGE_BUCKET</key>
	<string>food-chain-saas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6229665685:ios:eb03a087a4a9f59c90b89c</string>
</dict>
</plist>