<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>275511748317-5hkdb8n2ggetuauec44mqdf7sb4mfofm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.275511748317-5hkdb8n2ggetuauec44mqdf7sb4mfofm</string>
	<key>API_KEY</key>
	<string>AIzaSyCJSwvNPpBQVAXl6CTaKffW4kLPQv_OYI4</string>
	<key>GCM_SENDER_ID</key>
	<string>275511748317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chain.food.flutter.foodchainFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>foodchain-saas</string>
	<key>STORAGE_BUCKET</key>
	<string>foodchain-saas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:275511748317:ios:ca642178c4d5a06f781d34</string>
	<key>DATABASE_URL</key>
	<string>https://foodchain-saas-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>